@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.hero {
  background-color: #d4cfcc;
  background-image: url("../img/divider.svg"), url("../img/index-background.jpg");
  background-size: 100% auto, cover;
  background-position: bottom, top;
  background-repeat: no-repeat;
}

.reasons-title-text{
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
}

.reasons-title-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #333333;
}

.advantages-item {
  background-color: #83B3D31F;
  color: #333333;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

}

.advantages-item-description{
  text-align: center;
}

.advantages-item:nth-child(3) {
  background-color: #83B3D333;
}

.wide {
  background-color: #82B3D3;
  color: #ffffff;
}

.advise-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.slogan-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.slogan-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;

  color: #333333;
}

.advise-item-description{
  text-align: center;
}

.advise-item:not(:nth-child(2)) {
  background-color: #83B3D31F;
  color: #333333;
}

.interested-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  font-family: inherit;
}

.subscribe {
  background-color: #63605f;
  background-image: url("../img/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.interested-title{
  font-weight: 700;
font-size: 30px;
line-height: 120%;
text-transform: uppercase;
text-align: center;
  color:#000000;
}

.interested-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #333333;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-subscribe__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.catalog-subscribe__description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-form-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  font-family: inherit;
}

.form-email input {
  font-family: inherit;
}

.footer-social-link{
  color: #000000;
  text-decoration: none;
}

.footer-contacts-tel{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-style: normal;
}

.catalog-subscribe .catalog-subscribe__title{
  color: #000000
}

.catalog-subscribe .catalog-subscribe__description{
  color: #333333
}

.catalog-main{
  background: #333333 url("../img/catalog-background.jpg")no-repeat;
  background-size: 100% 100%;
  color: #ffffff
}

.catalog__title{
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
}

.breadcrumbs__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.filters-catalog__title{
    font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.infrastructure-item {
  line-height: 23px;
}

.price-range_start{
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.price-range_end{
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.filters-button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-accept{
  background-color: #82B3D3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-reset{
  background-color: transparent;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.hotels-found{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-sorting-table,
.hotels-sorting-card,
.hotels-sorting-list {
  color: #333333;
  text-decoration: none;
}

.hotels-item-title-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotels-item-type{
  color: #333333;
}

.hotels-item-favorites-button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.favourite-button{
  background-color: #82B3D3;
}

.unfavourite-button {
  background-color: #7DB54F;
}

.hotels-item-raiting{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.pagination-link{
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current{
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link-more{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
