@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.main-container{
  flex-grow: 1;
}

.content-container {
  margin: 0 auto;
  width: 1060px;
}

* {
  box-sizing: border-box;
}

.navigation{
  display: flex;
}

.navigation-logo-img {
  display: block;
}

.page-header,
.main-page,
.page-container,
.page-footer {
  background-color: #ffffff;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
  width: 138px;
}


.navigation-user{
  width: 150px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-link {
  padding: 20px 16px;
}

.navigation-link-user{
  padding: 22px 12px;

}

.navigation-list{
  margin: 0;
  margin-right: auto;
  padding: 0;
  width: 450px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.navigation-link,
.navigation-link-user{
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  display: block;
  line-height: 24px;
}

.header-logo{
  display: block;
  margin-right: 30px;
  width: 138px;
}

.navigation-button {
  padding: 8px 34px;
  align-self: center;
  border-radius: 4px;
}

.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border: none;
  font-family: inherit;
  border-radius: 4px;
}

.hero {
  background-color: #d4cfcc;
  background-image: url("../img/divider.svg"), url("../img/index-background.jpg");
  background-size: 100% auto, cover;
  background-position: bottom, top;
  background-repeat: no-repeat;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hero-welcome-logo {
  display: block;
  margin: 0 auto;
}

.reasons-title-text{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.reasons-slogan .reasons-title-text {
  margin-bottom: 25px;
}

.reasons-title-text + p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.reasons-slogan{
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 69px 0;
  margin: 0 auto;
  align-items: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.advantages-item {
  background-color: #83B3D31F;
  color: #333333;
}

.advantages-item:not(.wide) {
  background-color: #83B3D31F;
  color: #333333;
  max-width: 400px;
  min-height: 385px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 85px;
}

.item-container {
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
  width: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 85px;
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;


}

.wide{
  display:flex;
}

.advantages-img {
  display: block;
  object-fit: cover;
}

.advantages-item-description{
  text-align: center;
}

.advantages-item:nth-child(3) {
  background-color: #83B3D333;
}

.wide {
  background-color: #82B3D3;
  color: #ffffff;
}

.advise-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.slogan-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.slogan-description{
  font-weight: 400;
  font-size: 22px;
  line-height: 118%;
  text-align: center;

  color: #333333;
}

.advise-item-description{
  text-align: center;
}

.advise-item:not(:nth-child(2)) {
  background-color: #83B3D31F;
  color: #333333;
}

.advise-item{
  color: #333333;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 85px;
}

.advise-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 0;
  justify-content: center;
  list-style: none;
}

.interested {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  width: 680px;
  margin: auto;
}

.interested-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  font-family: inherit;
  margin-top: 54px;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.interested-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
  margin-bottom: 20px;
  margin-top: 0;
}

.interested-description{
  font-size: 22px;
  line-height: 118%;
  text-align: center;
  color: #333333;
  margin: 0;
}

.subscribe {
  background-color: #63605f;
  background-image: url("../img/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 96px 0 104px;
  margin: auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.catalog-subscribe__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.catalog-subscribe__description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-form{
  margin-top: 54px;
  display: flex;
}

.subscribe-form-input {
  font-family: inherit;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
}

.subscribe-form-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  font-family: inherit;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  max-width: 232px;
}

.form-email-input {
  font-family: inherit;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
}

.footer-social-list{
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social{
  display: flex;
  padding: 45px 0 35px;
  justify-content: space-between;
  list-style-type:  none
}

.footer-contacts-tel{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-style: normal;
}

.catalog-subscribe .catalog-subscribe__title{
  color: #000000
}

.catalog-subscribe .catalog-subscribe__description{
  color: #333333
}

.background-container{
  background: #333333 url("../img/catalog-background.jpg")no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  min-height: 412px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}


.catalog__title{
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
}

.breadcrumbs{
  padding:0;
  margin:0;
  list-style: none;
}

.breadcrumbs__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.background-container {
  background: #333333 url("../img/catalog-background.jpg")no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  padding-top: 35px;
  min-height: 412px;
}

.filters-catalog{
  display:flex;
  flex-wrap: wrap;
  gap: 70px;
}

.filters-catalog__title{
    font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filters-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infrastructure-item {
  line-height: 23px;
}

.price-range_start{
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.price-range_end{
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.filters-button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-accept{
  background-color: #82B3D3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button-reset{
  background-color: transparent;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.hotels-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.hotels-found{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control{
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  margin-right: 70px;
  min-height: 48px;
}

.hotels-sorting-table,
.hotels-sorting-card,
.hotels-sorting-list {
  color: #333333;
  text-decoration: none;
}

.hotels-item-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  margin: 0;
  grid-column: 1/-1;
}


.hotels-item-type{
  color: #333333;
  margin: 0;
}

.hotels-item-favorites-button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.favourite-button{
  background-color: #82B3D3;
  padding-block: 8px;
  align-self: center;
}

.unfavourite-button {
  background-color: #7DB54F;
  padding-block: 8px;
  align-self: center;
}

.hotels-item-raiting{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  align-self: center;
  padding-block: 8px;
  border-radius: 4px;
}

.hotels-item{
  max-width: 340px;
  border: 1px solid #E5E5E5;
  padding: 20px;
  min-height: 438px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr auto;
  gap: 16px 20px;
}

.hotels-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.hotels-item-raiting{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-link{
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  text-decoration: none;
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px;
  border-radius: 4px;
}

.pagination-current{
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link-more{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background-color: inherit;
  text-decoration: none;
  color: #000000;
}

.pagination-item {
  width: 60px;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.infrastructure-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters-catalog__group{
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
}

.type-of-housing-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.price-range{
  display:flex;
  flex-basis: 288px;
  margin-left: auto;
  flex-direction: column;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding: 96px 0 104px;
  margin: auto;

}

.favorite-count {
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  display: block;
  min-width: 20px;
  min-height: 20px;
}

.filters-catalogs{
  margin: 0;
  padding: 0;
  border: 0;
  display: flex
;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.filter-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex
;
}

.filter-form {
  display: flex
;
  flex-wrap: wrap;
  gap: 70px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.control {
  line-height: 23px;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-submit {
  background-color: #82B3D3;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.filter-buttons {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.filter-buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.filter-reset {
  background-color: transparent;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter-group-price {
  flex-basis: 288px;
  margin-left: auto;
  flex-direction: column;
}

.control-interval {
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.breadcrumbs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex
;
    align-items: center;
    margin-bottom: 40px;
}

.control-interval-container {
  display: flex;
  margin-bottom: 36px;
}

.hotels-item-button-details{
  padding-block: 8px;
  display: block;
  text-decoration: none;
  align-self: center;
}

.hotels{
  padding: 50px 0 60px;
}

.hotels-item-link-img{
  display: block;
  grid-column: 1/-1;
}

.hotel-item-price{
  color: #333333;
  margin: 0;
  justify-self: end;
}
